
<ion-view view-title="Calendar">
  <ion-content  overflow-scroll="true" class="container">

    <h4>Pune Certification Training Calendar</h4> 
  <ion-scroll direction="xy">
<div class="row header ">
          <div class="col-10 col-offset-10">Course</div>
          <div class="col-10 col-offset-10">Date</div>
          <div class="col-10 col-offset-10">Time</div>
          <div class="col-10 col-offset-10">Duration(Days)</div>
          <div class="col-10 col-offset-10">Investment</div>
          <div class="col-10 col-offset-10">Registration URL</div>
</div>
<div class="row " >
          <div class="col-10 col-offset-10">Java</div>
          <div class="col-10 col-offset-10">1/1/1017</div>
          <div class="col-10 col-offset-10">10:00 am</div>
          <div class="col-10 col-offset-10">4</div>
          <div class="col-10 col-offset-10">5000</div>
          <div class="col-10 col-offset-10"><button class="button button-small button-energized" ng-click="add()">Register</button></div>
</div>
<div class="row" >
          <div class="col-10 col-offset-10">Java</div>
          <div class="col-10 col-offset-10">1/1/1017</div>
          <div class="col-10 col-offset-10">10:00 am</div>
          <div class="col-10 col-offset-10">4</div>
          <div class="col-10 col-offset-10">5000</div>
          <div class="col-10 col-offset-10"><button class="button button-small button-energized" ng-click="add()">Register</button></div>
</div>
<div class="row " >
          <div class="col-10 col-offset-10">Java</div>
          <div class="col-10 col-offset-10">1/1/1017</div>
          <div class="col-10 col-offset-10">10:00 am</div>
          <div class="col-10 col-offset-10">4</div>
          <div class="col-10 col-offset-10">5000</div>
          <div class="col-10 col-offset-10"><button class="button button-small button-energized" ng-click="add()">Register</button></div>
</div>
</ion-scroll>
  </ion-content>
</ion-view>
