<ion-view view-title="Contact Us">
  <ion-content class="container">
  
    <h4>REQUEST A CALL BACK</h4><br>
    <center><button class="button button-medium button-energized" style="color: black;">CALL ME</button></center><br>
    <h4>QUICK ENQUIRY</h4>

	<!-- for name -->
		<div class="list">
		  	<label class="item item-input">
		   	 	<input type="text" placeholder="*Name">
		 	 </label>
	<!-- email -->
		  	<label class="item item-input">
  				<input type="email" placeholder="*Email">
			</label>
		  
	<!-- Contact No -->
		  	<label class="item item-input">
  				<input type="tel" placeholder="*Contact No">
			</label>

	<!-- for list -->
			<!-- <ul class="list" placeholder="*Select Courses">
   				 <li class="item"> Angular JS </li>
   				  <li class="item"> JAVA </li>
   				   <li class="item"> ASP.NET MVC </li>
   				    <li class="item"> Hibernet </li>
			</ul>-->
			<div class="list">
	  			<label class="item item-input item-select">
	   				 <div class="input-label" placeholder="*Select Courses">
	     		         *Select Courses 
	    			</div>
					<select>
		     		  <option>Angular JS</option>
		      		  <option selected>JAVA</option>
		      		  <option>ASP.NET MVC</option>
		      		  <option>Hibernet</option>
	    			</select>
	    		</label>
    		</div>

	<!--Msg  -->
		  	<label class="item item-input">
		    	<textarea placeholder="Message"></textarea>
		  	</label>
	    </div>

	<!-- submit button -->
		 	<center><button class="button button-medium button-energized" style="color: black;">SUBMIT</button></center>

	<!--  -->
		 	<h4>CALL NOW</h4>
		 	<!-- <center><img src="img\contact.jpg" width="200" height="100"></center> -->

		 	<!-- for contact info -->
		 	<div class="card">
				  <div class="item item-divider ">
				    <div class="item item-icon-left item-energized" style="color: black;">
				  		<i class="icon ion-ios-telephone"></i>
				  		Contact Info
				  		</div>
				  </div>
				  <div class="item item-text-wrap">
				    <p>INDIA:+91 985 084 3664</p>
				    <p>UAE  :+971 506 617 065</p>
				    <p>USA	 :+1(302) 918-4693</p>
				  </div>
			</div>

				<!-- for address info -->

				<div class=" list card">
				  <div class="item item-divider ">

				    <div class="item item-icon-left item-energized" style="color: black;">
				  		<i class="icon ion-location"></i>
				  		Address
				  </div>
				  </div>

				  <div class="item item-text-wrap">
				    <p>Seed Infotech Ltd.,</p>
					<p>'Panchasheel',</p>
					<p>42/16, Erandawana, SEED Infotech Lane,</p>
					<p> Off Karve Road, Pune-411004,</p>
					<p>Maharashtra (INDIA).</p>
				  </div>

				  <!-- <div class="item item-body ">  -->
				   <div class="item item-divider ">
				  <div class="item item-icon-left item-energized" style="color: black;">
				  		<i class="icon ion-email"></i>  
				  		Email
				  		</div></div>
				  		<p class="item item-text-wrap">support@seedworkshops.com</p>
				
			
				  </div>

		<!-- 	</div> -->
    <!-- for search  -->
			<!-- <div class="list list-inset">
			  <label class="item item-input">
			    <i class="icon ion-search placeholder-icon"></i>
			    <input type="text" placeholder="Search">
			  </label>
			</div>
 -->
  </ion-content>
</ion-view>
